a{
    text-decoration: none;
}
.navbar{
    height: 82.5px;
    width: 100%;
    background-color: aqua;
    display: flex;
}
li{
    list-style-type: none;
    margin-top: 1%;
    padding: 1%;
    width: 100px;
    display: inline;
}
ol{
    padding: 1.5%;
    display: flex;

}
li:hover{
    font-family: Poppins;
    margin-top: 2.5px;
}
.logo{
    margin-left: 30px;
    width: 80px;
    height: 80px;
}
.banner{
    width: 100%;
}
.navbarr{
    margin: 10px
}
.col-left, .col-mid, .col-right{
    width: 400px;
    height: 500px;
    margin-left : 30px;
    box-shadow: 1px 1px 3px 2.5px #E2E2E2  ;
    float: left;

}
.img1, .img2, .img3{
    width: 90%;
    margin: 5%;
}
.text1, .text2, .text3{
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
h1{
    color: #0A78F1;
    font-family: Poppins;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
#content{
}
.footer{
    height: 30%;
    background-color: aqua;
    margin-top: 1.5%;
    display: flex;
    float: left;
    width: 100%;
}
.col-l, .col-m1, .col-m2, .col-r{
    float: left;
    width: 100px;
    height: 250px;
    text-align: justify;
    margin-top: 1.5%;
    margin-right: 12.5%;
    margin-left: 3.5%;
}
.sub-footer{
    float: left;
    display: flex;
    background-color: aqua;
    width: 100%;
}
.coln2{
    margin-left: 725px;
}